# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local
.secrets

# Arquivos de variáveis de ambiente locais
.env
*.env.local